################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Menu/.vs
/Menu/obj
/Menu/bin/Debug/net8.0
/MenuDigital.Tests/bin/Debug/net8.0
/MenuDigital.Tests/obj
